.article1 {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
	padding-bottom: 6rem;
}

.article1 .text-wrapper {
	width: 35%;
}

.article1 .text-wrapper .text {
	color: var(--text-gray);
	margin: 3rem 0;
}

.article1 .image-wrapper {
	height: 400px;
	width: 60%;
	position: relative;
}

.article1 img {
	width: 100%;
	object-fit: cover;
}

.article1 .image-wrapper .image-caption {
	position: absolute;
	transform: rotate(90deg);
	top: 5rem;
	right: -6rem;
	opacity: 20%;
	font-family: leagueSpartan;
	font-size: 0.5625rem;
	letter-spacing: 0.5rem;
}
