.boards {
	padding: 5rem 0;
	position: relative;
}

.boards .bg-image {
	position: absolute;
	z-index: -1;
	width: calc(100vw - 20px);
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
	top: 50%;
	opacity: 5%;
}

.boards .titles {
	text-align: center;
}

.boards .cards-container {
	width: 100%;
	padding-bottom: 3rem;
}

.boards .cards-container .arrow-left {
	position: absolute;
	left: -4rem;
	top: 60%;
}

.boards .cards-container .arrow-right {
	position: absolute;
	right: -4rem;
	top: 60%;
	transform: rotate(180deg);
}

.boards .cards-wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 2rem;
}
