.video {
	padding: 5rem 0;
	display: flex;
}

.video .pic-text {
	width: 50%;
}

.video .pic-text img {
	width: 100%;
}

.video .pic-text .text {
	padding: 2rem 25%;
}

.video .pic-text .text p:first-child {
	margin: 2rem auto;
}

.video .pic-text .text p:last-child {
	width: fit-content;
	border-bottom: 2px solid var(--main-color);
	padding-bottom: 0.25rem;
}

.video .player {
	width: 50%;
	direction: rtl;
}

.video .player img {
	width: 120%;
	margin-top: 3rem;
}
